*.sw[a-p]

backend/__pycache__/*
backend/*/__pycache__/*

frontend/node_modules
frontend/package-lock.json
frontend/dades_correu.json

.Rproj.user
scripts/.Rhistory
scripts/.RData
scripts/scripts.Rout
