<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        Política de privadesa
    </title>
  </head>
  <body>
    <div>
      <p>
        - Tipus d'informació que rebem de vós, com l'obtenim i com la utilitzem<br>
        Les vostres contribucions públiques<br>
        La Signepèdia s'ha desenvolupat per ajudar a la difusió i compartir el coneixement de la Llengua de Signes Catalana (LSC), i compartim les vostres contribucions perquè ens ho heu sol·licitat mitjançant l'enviament de contingut.<br>
        Quan feu una contribució a la Signepèdia, mitjançant l'enviament de vídeo, aquest s'envia al correu electrònic: signepedia@gmail.com.<br>
        Podem utilitzar les vostres contribucions per incloure-les a la Signepèdia i que, per tant, sigui públic per a tothom.<br>
        Aquestes contribucions, d'acord a la llicència <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> (CC BY-SA 4.0), es compartirà juntament amb el nom que hagueu enviat com a "Autor" del vídeo.<br>
      </p>
      <p>
        - Quan podem compartir la vostra informació?<br>
        1. Amb el vostre permís: Podem compartir la vostra informació per a propòsits particulars, si hi esteu d'acord.<br>
        2. Per raons legals: Podem accedir, conservar i divulgar la vostra informació personal si tenim raons per creure que cal fer-ho en obediència amb una ordre judicial o administrativa, citació, llei o reglament vàlid i legalment exigible.
        No obstant això, si considerem que un requeriment concret de divulgació de la informació d'un usuari és legalment invàlid o és un abús del sistema legal i l'usuari afectat no té la intenció d'oposar-se a la divulgació per si mateix, farem tot allò que ens sigui possible per lluitar-hi en contra.
        Ens comprometem a notificar-vos per correu electrònic amb almenys deu (10) dies d'antelació, sempre que sigui possible, abans de divulgar la vostra informació en resposta a una petició legal.
        Tanmateix, només us ho podrem notificar si no se'ns limita legalment posar-nos en contacte amb vostè, no es genera una amenaça creïble per a la vida o la salut o s'incrementi per la divulgació de la sol·licitud, i sempre que ens haguéssiu proporcionat una adreça de correu electrònic vàlida.<br>
        Res en la present Política de privadesa intenta limitar les objeccions o defenses legals que pugueu tenir als requeriments d'un tercer (ja siguin civils, penals o governamentals) per divulgar la vostra informació.
        Us recomanem buscar l'assessorament d'un advocat immediatament si el requeriment es presenta relacionat amb vostè.<br>
        3. Per protegir-vos, a nosaltres mateixos i a altres: És possible que per la nostra part, o mitjançant usuaris particulars amb certs drets administratius com es descriu a continuació, haguem de compartir la vostra informació personal si es creu raonablement que és necessari per fer complir o investigar possibles violacions de les nostres <a href="/termes" target="_blank">Condicions d'ús</a>, aquesta Política de privadesa, qualsevol fundació o polítiques basades en la comunitat d'usuaris.
        També és possible que haguem d'accedir i compartir informació per investigar i defensar-nos contra les amenaces o accions legals.<br>
        4. Als nostres proveïdors de serveis: Podem donar accés a la vostra informació personal als proveïdors o entitats que ens ajuden a dirigir, fer funcionar o millorar la Signepèdia, segons ho necessitin per realitzar serveis per a nosaltres o per a utilitzar les vostres eines i serveis.
        Posem requisits, com ara acords de confidencialitat, per ajudar a garantir que els proveïdors de serveis tracten la informació de manera curosa i sense perdre la protecció de la vostra privacitat que regeix aquesta Política.<br>
        5. Perquè ho vàreu fer públic: Qualsevol informació que inclogueu en una col·laboració pública a la Signepèdia és precisament això, pública. Penseu acuradament el nivell d'anonimat que desitgeu abans d'enviar un vídeo on se us reconegui i com voleu que se us reconegui l'autoria, és a dir, l'"Autor" que voleu que se li atribueixi el vídeo.
        L'enviament d'un vídeo al correu signepedia@gmail.com directament o mitjançant el formulari d'enviament de vídeo, ens dona el consentiment d'usar-lo, públicament, a la Signepèdia.
      </p>
      <p>
        - Com protegim les vostres dades?<br>
        Ens esforcem per protegir la vostra informació contra els accessos, l'ús o la divulgació no autoritzats.<br>
        Desafortunadament, no existeix la transmissió ni l'emmagatzematge de dades totalment segur, pel que no podem garantir que la nostra seguretat no serà violada (amb mesures tècniques o per la violació de les nostres polítiques i procediments).<br>
        - Quant de temps es conserven les vostres dades?<br>
        Quan rebem informació de caràcter personal, la mantenim durant el menor temps possible, fent això compatible amb el manteniment.<br>
        Tingueu en compte que certa informació es conserva i es mostra de forma indefinida, com ara les contribucions públiques a la Signepèdia, el reconeixement d'autoria i el correu electrònic associat a l'enviament.
      </p>
      <p>
        - Canvis a aquesta Política de privadesa<br>
        Perquè les coses canvien naturalment amb el temps i volem assegurar que la nostra Política de privadesa reflecteix amb precisió les nostres pràctiques i de la legislació, pot ser necessari modificar la present Política de privadesa de tant en tant.
        Es reserva el dret a fer-ho de la següent manera:<br>
        En el cas que es produeixin canvis substancials, proporcionarem els canvis proposats als usuaris en català obrint un període de consultes de trenta (30) dies de calendari com a mínim.
        Abans del començament del període de consultes, donarem avís dels canvis i l'oportunitat de comentar-los a través del correu electrònic: signepedia@gmail.com<br>
        Per canvis menors, com correccions gramaticals, canvis administratius o judicials, o la correcció de declaracions inexactes, publicarem els canvis i, quan sigui possible, proporcionarem com a mínim tres (3) dies de calendari d'antelació a través de la pàgina web.
        Us demanem que reviseu la versió més actualitzada de la nostra Política de privadesa. L'ús ininterromput de la Signepèdia després que aquesta Política de privadesa entri en vigor constitueix l'acceptació d'aquesta Política de privadesa per la vostra part.
        L'ús continuat de la Signepèdia després de qualsevol versió posterior de la present Política de privadesa entri en vigor, seguint l'avís com s'indica més amunt, constitueix l'acceptació d'aquesta versió de la Política de privadesa per la vostra part.
      </p>
      <p>
        - Contacte<br>
        Si teniu alguna pregunta o suggeriment sobre aquesta Política de privadesa o al voltant de la informació recopilada sota aquesta Política de privadesa, envieu-nos un email a signepedia@gmail.com.
      </p>
    </div>
  </body>
</html>