<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        Signepèdia - Nou Usuari
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <% if(message == "done") { %>
        <p>T'has registrat correctament!</p>
        <form action="/" method="get">
          <input type="submit" class = "ghost-button" value="Torna a la Signepèdia">
        </form>
      <% } else { %>
        <% if (message == "email") { %>
          <p>Ho sentim.<br>Aquest correu ja s'està registrat.</p>
        <% } else if (message == "name") { %>
          <p>Ho sentim.<br>Aquest nom d'usuari ja està registrat.</p>
        <% } else if (message == "password") { %>
          <p>Ho sentim.<br>Els passwords no coincideixen.</p>
        <% } else { %>
        <fieldset>
          <form action="/registre" method="post" encType="multipart/form-data" onsubmit="return disable(this);" style="font-size:15px">
            <input name="name" type="text" class="ghost-input" placeholder="Nom d'usuari" style="width:300px;font-size:17px;padding:5px" required>
            <input name="email" type="text" class="ghost-input" placeholder="Correu electrònic" style="width:300px;font-size:17px;padding:5px" required>
            <input name="password" type="password" class="ghost-input" placeholder="Contrasenya" style="width:300px;font-size:17px;padding:5px" required>
            <input name="passwordConf" type="password" class="ghost-input" placeholder="Confirma la contrasenya" style="width:300px;font-size:17px;padding:5px" required>
            Data de naixement: <input name="birthday" type="date" class="ghost-input" style="width:300px;font-size:17px;padding:5px" required>
            <input name="register" type="submit" class="ghost-button" value="Registra't!">
          </form>
          <script type="text/javascript">
            function disable(form) {
              if (form.name.value === "" || form.email.value === "" || form.password.value === "" || form.passwordConf === "") {
                return false;
              }
              form.register.disabled = true;
              form.register.value = "Registrant...";
              return true;
            }
          </script>
        </fieldset>
      <% } %>
    <% } %>
    </div>
    <script src="scripts/createFooter.js"></script>
  </body>
</html>
