<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registra't</title>
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
	 <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
	 <script src="js/script.js"></script>
</head>
<body>
<div class="main">
<!--==============================header=================================-->
  <header>
    <h1><a class="logo" href="/">Signepèdia</a></h1>
  </header>
  <div class="white_bg">
    <nav>
      <ul class="sf-menu">
        <li class="first"><a href="/">Inici</a></li>
        <li><a href="/comunitat">Comunitat</a></li>
	<!-- <li><a href="/diccionari">Tot el vocabulari</a></li>-->
      </ul>
	  	<form id="search" action="/cerca" method="GET" accept-charset="utf-8">
      		<input type="text" name="s" />
			<a onclick="document.getElementById('search').submit()">Cerca</a>
			</form>
     <div class="clear"></div>
    </nav>
    <!--==============================content================================-->
    <section id="content">
      <div class="container_12">
        <div class="pad_box">
          <div class="wrapper">
			  <article class="grid_12">
              <div class="box1" style="width:50px">
                <h3 class="var1 ind">Posa les teves Dades</h3>
                <form id="contact-form">
                  <div class="success">Contact form submitted!<br>
                      <strong>We will be in touch soon.</strong>
                  </div>

                  <form action="/registre" method="post">
                    <label class="uname">
                      <em class="title">Usuari</em>
                      <input type="text" name="uname" required>
                    </label>
                    <label class="password">
                      <em class="title">Contrassenya</em>
                      <input type="password" name="psw" required>
                    </label>
                    <label class="password-repeat">
                      <em class="title">Confirma la contrassenya</em>
                      <input type="password" name="pswRepeat" required>
                    </label>
                    <label class="email">
                      <em class="title">Correu electrònic</em>
                      <input type="email" name="email" required>
                    </label>
		    <label>
			    <input type="checkbox" name="privacy" required style="width:12px"> Accepto la <a href="/privadesa">Política de Privadesa</a>.<br>
			    <input type="checkbox" name="terms" required style="width:12px"> Accepto les <a href="/condicions">Condicions d'ús</a>.
		    </label>

		    <button type="submit"> Registra't </button>
                  </form>
              </form>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
<!--==============================footer=================================-->
     <footer>
      <div class="container_12">
        <div class="pad_box">
          <div class="wrapper">
            <article class="grid_12">
              <div class="footer">
                <ul class="footer_menu">
                  <li><a href="/">Inici</a></li>
                  <li><a href="/comunitat">Comunitat</a></li>
		  <!--<li><a href="/diccionari">Tot el vocabulari</a></li>-->

                </ul>
                <div class="privacy">
				  Signepèdia  &copy; 2018 &nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="/privadesa">Política de Privadesa </a> &nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="/condicions">Condicions d'ús.</a>                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
</html>
