<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="none" />
    <title>
        Condicions d'ús
    </title>
  </head>
  <body>
    <div>
      <p>
        1. Els nostres serveis<br>
        La Signepèdia existeix per oferir un diccionari traductor Català - LSC gratuït i col·laboratiu.<br>
        La nostra funció es hostatjar els vídeos de tots aquells qui decideixin col·laborar-hi, així com crear nou contingut.
      </p>
      <p>
        2. Política de privadesa<br>
        Li demanem que revisi les condicions de la nostra <a href="/privadesa" target="_blank">Política de privadesa</a>, de manera que estigui assabentat de com recopilem i utilitzem la seva informació.
        Com que els nostres serveis els poden utilitzar arreu del món, la informació personal que recollim pot ser emmagatzemada i processada a la Unió Europea o a qualsevol país on algún col·laborador hi tingui instal·lacions.
        En utilitzar els nostres serveis, accepteu aquesta transferència d'informació fora del vostre país.<br>
        És important que tingui present que el contingut que ens envïi serà emmagatzemat a la <a href="https://www.youtube.com/channel/UCczsCk0b6GJRVe00e9XYXXw?view_as=subscriber">compta pública de YouTube de la Signepèdia</a>.<br>
        Per assegurar que tot el material enviat s'aculli degudament a aquestes polítiques, així com a la Llicència que se li atribueix, vosté es compromet a enviar únicament material del qual n'és el propietari i a fer-ho només si és vostè té 18 anys o més.
      </p>
      <p>
        3. Contingut que hostatgem<br>
        Potser algún contingut el trobarà qüestionable o erroni: Com que es tracta d'un servei col·laboratiu, els continguts poden estar generats per altres usuaris.
        Podria trobar material que considera ofensiu, erroni, enganyós, fora de context o bé qüestionable per altres motius.
        Per tant, li demanem que apliqui el sentit comú i bon judici en utilitzar els nostres serveis.<br>
        - Emmagatzematge dels vídeos:<br>
        Per fer mantenible el projecte, els vídeos són emmagatzemats a YouTube, a la <a href="https://www.youtube.com/channel/UCczsCk0b6GJRVe00e9XYXXw?view_as=subscriber">compta pública de la Signepèdia</a>.
        En aquesta compta, farem el possible per mantenir els vídeos en "ocult" (de manera que només siguin accessibles mitjançant l'enllaç directe).<br>
      </p>
      <p>
        4. Abstenir-se de certes activitats<br>
        Els projectes hostatjats a la Signepèdia són possibles només gràcies a l'activa comunitat d'usuaris com vostè, que col·laboren per a crear, editar i conservar el contingut.
        Amb molt de gust acollim la vostra participació en aquesta comunitat.
        L'animem a que sigui cívic i educat en la seva interacció amb altres dins la comunitat, que actuï de bona fe i que faci edicions i aportacions dirigides a impulsar la missió del projecte compartit.<br>
        Certes activitats, ja siguin legals o il·legals, poden ser perjudicials per a altres usuaris i violar les nostres regles, i poden seguir-se'n responsabilitats.
        Per tant, per a la seva protecció i la d'altres usuaris, no pot practicar activitats d'aquesta mena a la Signepèdia.
        Aquestes activitats inclouen:<br>
        - Assetjament i maltractament d'altri:<br>
        Participar en assetjament, amenaces, espionatge, difamació o vandalisme;<br>
        Transmetre correus electrònics en cadena, correus brossa o correus no desitjat a altres usuaris.<br>
        - Vulnerar la privacitat d'altri:<br>
        Vulnerar els drets de privacitat d'altres persones sota les lleis de la Unió Europea o altres lleis aplicables (que poden incloure les lleis del país on viu o del país on veu o envia els continguts);<br>
        Sol·licitar informació d'identificació personal amb finalitat d'assetjar, d'extorsionar, de vulnerar la privacitat o qualsevol altre propòsit comercial o promocional no aprovat explícitament per la Signepèdia;<br>
        Sol·licitar informació d'identificació personal a menors de 18 anys amb propòsits il·legals o que vulneren qualsevol llei aplicable en relació amb la salut o el benestar dels menors d'edat.<br>
        - Participar en declaracions falses, suplantació o frau<br>
        Publicar o enviar a la Signepèdia continguts que constitueixin injúria o difamació de manera intencionada o sabent-ho;<br>
        Publicar o enviar a la Signepèdia continguts falsos o inexactes amb la intenció d'enganyar;<br>
        Intentar suplantar un altre usuari o persona, falsejant la seva relació amb qualsevol persona o entitat o bé fent servir el nom d'altri amb la intenció d'enganyar; <br>
        Cometre frau.<br>
        - Cometre infraccions<br>
        Vulnerar els drets d'autor, marques registrades, patents o altres drets de propietat sota les lleis que siguin d'aplicació.<br>
        - Fer mal ús dels nostres serveis amb altres propòsits il·legals<br>
        Publicar o enviar a la Signepèdia pornografia infantil o qualsevol altre contingut que vulneri la llei aplicable en matèria de pornografia infantil;<br>
        Publicar o enviar a la Signepèdia o traficar material obscè que sigui il·legal sota la legislació aplicable;<br>
        Utilitzar els serveis de manera incompatible amb la legislació aplicable.<br>
        - Fer un ús desordenat o il·legal de la Signepèdia<br>
        Publicar o enviar a la Signepèdia o el correu signepedia@gmail.com o distribuir continguts que continguin virus, troians, codi maliciós o d'altres continguts perjudicials;<br>
        Participar en una utilització automatitzada del lloc que sigui abusiva o interfereixi en els serveis i que no hagi estat aprovada per la Signepèdia;<br>
        Pertorbar els serveis carregant de manera excessiva el lloc web de la Signepèdia o el correu signepedia@gmail.com o les xarxes o els servidors connectats amb el lloc web de la Signepèdia;<br>
        Pertorbar els serveis inundant el lloc web de la Signepèdia o el correu signepedia@gmail.com amb comunicacions o d'altres tipus de tràfic sense la intenció seriosa de fer servir el lloc web de la Signepèdia per al seu objectiu declarat;<br>
        Sabent-ho, accedir, manipular o utilitzar qualsevol de les nostres àrees no públiques dels nostres sistemes informàtics sense autorització;<br>
        Sondejar, escanejar o provar la vulnerabilitat de qualsevol dels nostres sistemes tècnics o xarxes a menys que es donin les condicions següents:<br>
        accions d'aquesta mena no abusen indegudament o interrompen les nostres instal·lacions tècniques o xarxes;<br>
        accions d'aquesta mena no són per a benefici propi (excepte el reconeixement de la feina feta);<br>
        informeu de qualsevol vulnerabilitat als desenvolupadors de la Signepèdia al correu electrònic signepedia@gmail.com; i<br>
        no feu aquesta mena d'accions amb intenció maliciosa o destructiva.<br>
        - Contribucions pagades<br>
        Aquestes Condicions d'ús prohibeix participar en activitats fraudulentes, incloent la tergiversació de l'afiliació, la suplantació i el frau.<br>
        També queda prohibida qualsevol contribució que es faci rebent una compensació econòmica per fer-la.<br>
        Ens reservem el dret d'exercir la nostra discreció pel que fa als termes de l'apartat 4.
      </p>
      <p>
        5. Concessió de llicències dels continguts<br>
        Per a fer créixer el patrimoni comú del coneixement i de la cultura lliure, tots els usuaris que contribueixen als projectes estan obligats a concedir permisos generals al públic en general per a redistribuir i reutilitzar les seves contribucions lliurement, igual que aquest ús s'atribueix apropiadament i la mateixa llibertat de reutilització i redistribució s'atorga a qualsevol treball derivat.
        D'acord amb el nostre objectiu de proporcionar informació gratuïta a l'audiència més àmplia possible, cal que quan sigui necessari tots els continguts presentats tinguin una llicència de manera que siguin reutilitzables lliurement per qualsevol persona que es preocupi d'accedir-hi.<br>
        Esteu d'acord amb els requisits de llicència següents:<br>
        - Vídeos dels quals posseiu els drets d'autor: Quan envieu un vídeo del qual teniu els drets d'autor, us comprometeu a concedir una llicència sota:<br>
        <a href="https://creativecommons.org/licenses/by/3.0/legalcode">Creative Commons CC-BY</a>.<br>
        Tingui en compte que aquestes llicències permeten l'ús comercial de les vostres aportacions sempre que aquests usos siguin compatibles amb les condicions d'ús.<br>
        - Atribució: L'atribució és una part important d'aquestes llicències. Considerem que és donar crèdit on cal donar-lo: als autors com vostè mateix.
        En aportar vídeos accepteu que se us ha d'atribuir fent servir el nom que hagueu enviat com a "Autor" del vídeo.<br>
      </p>
      <p>
        6. Conformitat amb DMCA (Digital Millenium Copyright Act)<br>
        La Signepèdia vol assegurar-se que els continguts que hostatgem poden ser reutilitzats per altres usuaris sense por d'incórrer en responsabilitats i que no està infringint cap dret de propietat.
        Per a ser honestos amb els nostres usuaris, i també amb altres creadors i amb titulars de drets d'autor, la nostra norma és respondre als avisos de suposades infraccions si compleixen els formalismes de la Digital Millennium Copyright Act (DMCA).
        De conformitat amb la DMCA i en les circumstàncies apropiades, treurem el contingut i deixarem de guardar-ne la informació relacionada.<br>
        No obstant això, també reconeixem que no tots els avisos d'infracció són vàlids o de bona fe.
        En aquests casos, recomanem amb insistència als usuaris que presentin al·legacions quan considerin amb fonament que una demanda d'infracció DMCA no és vàlida o no és correcta.
        Per a més informació sobre què fer si creieu que un avís d'infracció DMCA no és pertinent, podeu consultar <a href="https://lumendatabase.org/">Lumen Database</a> (abans denominat Chilling Effects).<br>
        Si vostè és el propietari del contingut que s'està utilitzant indegudament en algun dels projectes sense el seu permís, pot demanar que el contingut sigui eliminat d'acord amb la DMCA.
        Per a fer aquesta sol·licitud, escrigui'ns un correu electrònic a signepedia@gmail.com.<br>
      </p>
      <p>
        7. Llocs webs i recursos de tercers<br>
        Vostè és l'únic responsable de la utilització dels llocs web o dels recursos de tercers.
        Tot i que els projectes contenen enllaços a llocs web i recursos de tercers, no garantim ni ens fem responsables de llur disponibilitat, exactitud, o la dels continguts relacionats, productes o serveis (incloent, sense limitació, qualsevol tipus de virus o d'altres elements perjudicials), ni tampoc tenim cap obligació de controlar continguts de tercers.<br>
      <p>
        8. Avisos Legals<br>
        A la Signepèdia fem tot el possible per a proporcionar continguts didàctics i informatius per a un públic molt ampli, però l'ús que fa dels nostres serveis és sota la seva responsabilitat.
        Oferim aquests serveis en modalitat "tal qual" i "segons estigui disponible", i expressament refusem donar garanties explícites o implícites de qualsevol mena, incloent entre d'altres, les garanties implícites de comercialització, d'idoneïtat per a un propòsit particular i de no infracció.
        No oferim cap garantia de que els nostres serveis satisfacin les vostres necessitats, de que siguin segurs, ininterromputs, puntuals, precisos o sense errors, o de que la vostra informació estarà segura.<br>
        No ens fem responsables del contingut, dades o accions de tercers, i vostè ens exonera a nosaltres de qualsevol reclamació i danys, tant coneguts com desconeguts, que sorgeixin o estiguin relacionats d'alguna manera amb qualsevol reclamació que tingui contra aquests tercers.
        Cap consell o informació, ja siguin orals, escrits o visuals, que hàgi obtingut de nosaltres o a través dels nostres serveis no generen garantia de cap mena si no ha estat expressament establerta en aquestes condicions d'ús.<br>
        Qualsevol material descarregat o obtingut mitjançant l'ús dels nostres serveis ho és sota la vostra discreció i responsabilitat i vostè serà l'únic responsable de qualsevol dany al seu sistema informàtic o de pèrdua de dades que resultin de la descàrrega d'aquest material.
        Vostè accepta que no tenim cap responsabilitat o obligació per l'esborrament o per la fallada en l'emmagatzematge o en la transmissió de continguts o de comunicacions mantinguts pel servei.
        Ens reservem el dret d'establir límits sobre l'ús i emmagatzematge a discreció nostra i en qualsevol moment, amb o sense previ avís.<br>
        En alguns estats o jurisdiccions no permeten la mena d'avisos legals d'aquesta secció, de manera que pot ser que, de forma parcial o total, no us siguin d'aplicació.<br>
      </p>
      <p>
        9. Limitació de responsabilitat<br>
        La Signepèdia no serà responsable davant vostè o davant terceres parts per danys directes, indirectes, incidentals, especials, derivats o punitius, incloent entre d'altres danys per lucre cessant, danys a l'honor, pèrdua d'ús, de dades o altres pèrdues intangibles, independentment de si se'ns havia informat de la possibilitat d'aquests danys<br>
      </p>
      <p>
        10. Modificacions a aquestes condicions d'ús<br>
        De la mateixa manera que l'aportació de la comunitat de la Signepèdia és essencial per al creixement i el manteniment dels projectes, creiem que la participació de la comunitat és essencial per a que aquestes condicions d'ús siguin útils als nostres usuaris.
        També és essencial per a un contracte just. Per tant, nosaltres facilitarem aquestes condicions d'ús a la comunitat, així com qualsevol futura modificació substancial en elles, per a fer-hi comentaris com a mínim trenta (30) dies abans d'exhaurir-se el període de comentaris.
        Animarem a la comunitat a traduir la proposta de revisió a altres idiomes, segons correspongui.
        Per als canvis per raons legals o administratives, per a corregir una declaració inexacta, o per als canvis derivats de comentaris de la comunitat, donarem com a mínim un avís de tres (3) dies.<br>
        Com que de tant en tant pot ser necessari modificar aquestes condicions d'ús, donarem avís de les modificacions i l'oportunitat de comentar-ho a través dels llocs web del projecte.
        No obstant això, us demanem que reviseu regularment la versió més actualitzada d'aquestes condicions d'ús (disponible a <a href="/termes">signepedia.cat/termes</a>).
        La utilització continuada per part seva dels nostres serveis quan les noves condicions d'ús entrin en vigor un cop escolat el període de notificació i revisió, suposa la vostra acceptació implícita d'aquestes condicions d'ús.
        Per a la protecció de la Signepèdia i altres usuaris com vostè, si no està d'acord amb les nostres condicions d'ús, no pot utilitzar els nostres serveis.<br>
      </p>
      <p>
        11. Altres condicions<br>
        Aquestes condicions d'ús no constitueixen relació laboral, agència, associació ni relació empresarial de cap mena entre vostè i nosaltres, la Signepèdia.
        Si no ha signat cap altre acord amb nosaltres, aquestes condicions d'ús defineixen tota la relació entre vostè i nosaltres.
        En cas de conflicte entre elles i un altre acord signat per escrit entre vostè i nosaltres, l'acord signat preval.<br>
        Accepta que podem enviar-li avisos, incloent els relatius a canvis a les condicions d'ús, per correu electrònic o publicant-los al lloc web de la Signepèdia.<br>
        Si en alguna circumstància no apliquem o fem complir alguna disposició d'aquestes condicions d'ús, això no suposa renúncia a tal disposició.<br>
        Llevat que nosaltres acordem el contrari per escrit, és conscient que no té dret a compensació per qualsevol activitat, aportació o idea que ens ofereixi a nosaltres, la Signepèdia.<br>
        No obstant, qualsevol disposició en contrari en aquestes condicions d'ús, nosaltres (la Signepèdia) i vostè acordem que no modificarem els termes i requisits aplicables de qualsevol llicència lliure que s'empri en els projectes o edicions dels projectes quan l'esmentada llicència lliure sigui autoritzada per aquestes condicions d'ús.<br>
        Si alguna disposició o part d'una disposició d'aquestes condicions d'ús es considera il·legal, nul·la o no exigible, es considerarà que es pot segregar de la resta de condicions d'ús i s'aplicarà en la màxima extensió possible; totes les altres disposicions d'aquestes condicions d'ús romandran en ple vigor i efecte.<br>
      </p>
      <p>
        12. Anotacions sobre aquestes condicions<br>
        Al llarg d'aquestes condicions, es parla de la Signepèdia. En el moment d'escriptura d'aquestes condicions, però, no existeix l'ens jurídic de la Signepèdia, pel que les mencions que es refereixin a aquest ens jurídic, fan referència al seu creador, Albert Masclans.<br>
        Aquestes condicions han estat escrites basant-se en les de la Fundació Wikimedia, pel que en reconeixem l'autoria de gran part del text, sense que això els faci responsables sobre cap dels punts previs.
      </p>
    </div>
  </body>
</html>
