<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        Signepèdia - Col·laborar
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script src="scripts/createHeader.js"></script>

    <div class="container">
      <% if(message == "done") { %>
        <p>Hem rebut el teu vídeo.<br>Moltes gràcies per col·laborar!</p>
        <form action="/pujar_video" method="get">
          <input type="submit" class = "ghost-button" value="Afegeix un altre signe">
        </form>
        <form action="/" method="get">
          <input type="submit" class = "ghost-button" value="Torna a la Signepèdia">
        </form>
      <% } else if (message == "fail") { %>
        <p>Ho sentim.<br>Per un problema en el servidor no s'ha pogut enviar el teu vídeo.</p>
        <form action="/pujar_video" method="get">
          <input type="submit" class = "ghost-button" value="Torna-ho a intentar">
        </form>
        <form action="/" method="get">
          <input type="submit" class = "ghost-button" value="Torna a la Signepèdia">
        </form>
      <% } else { %>
        <p style="padding:10px">Col·labora afegint un nou vídeo</p>
        <fieldset>
          <form action="/pujar_video" method="post" encType="multipart/form-data" onsubmit="return disable(this);" style="font-size:15px">
            <input name="author" autocomplete="name" type="text" class="ghost-input" placeholder="Autoria" style="width:300px;font-size:17px;padding:5px" required>
            <input name="word" type="text" class="ghost-input" placeholder="Paraula a afegir" style="width:300px;font-size:17px;padding:5px" required>
            <input name="video" type="file" required><br>
            <input name="age" type="checkbox" required> Confirmo que sóc l'autor del vídeo, l'únic que hi surt i tinc 18 anys o més.<br>
            <input name="licence" type="checkbox" required> Accepto que el vídeo adjunt es pengi a <a href="https://www.youtube.com/channel/UCczsCk0b6GJRVe00e9XYXXw?view_as=subscriber" target="_blank">YouTube</a> sota llicència <a href="https://creativecommons.org/licenses/by/3.0/legalcode" target="_blank">CC BY</a><br>
            <input name="terms" type="checkbox" required> He llegit i accepto les <a href="/termes" target="_blank">Condicions d'ús.</a> i la <a href="/privadesa" target="_blank">Política de Privadesa</a><br>
            <input name="upload" type="submit" class="ghost-button" value="Envia'ns el vídeo">
          </form>
          <script type="text/javascript">
            function disable(form) {
              if (form.author.value === "" || form.word.value === "" || form.video.value === "" || !form.age.checked || !form.licence.checked || !form.terms.checked) {
                return false;
              }
              form.upload.disabled = true;
              form.upload.value = "Enviant...";
              return true;
            }
          </script>
        </fieldset>
      <% } %>
    </div>
    <script src="scripts/createFooter.js"></script>
  </body>
</html>
