body {
    width: auto;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
fieldset {
    border: 0;
}
header {
    width: 630px;
}
.column {
	float: left;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 30%;
    max-width: 150px;
}
.main {
	float: left;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
	min-width: 480px;
}
.entry-video {
    width: 480px;
    padding: 10px;
    float: left;
}
.left-info {
    float: left;
}
.right-info {
    float: right;
}
.comment {
    float: right;
}
button:enabled {
    cursor: pointer;
}
.icon-button {
    border: none;
    font-size: 16px;
    background-color: white;
}
#likes:hover {
    color: green;
}
#dislikes:hover {
    color: red;
}
.footer {
    position: fixed;
    font-size: 15px;
    text-align: right;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}
